html, body {
	height:100%;
}

body{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #cfcfcf;
	font-size: 0.75em;
	margin:0 auto;
	background-image: url("../images/background.jpg");
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
	color:#4E2E2E;
}

#container{
	width: 100%;
	height: auto;
    margin: 0 auto;
	overflow:hidden;
	max-width: 1200px;
}

#top-page{
	background-color: #FFFFFF;
	border-top: 3px solid #3f3f3f;
	/*width: 68.35%;*/
	width: 100%;
	height:100px;
}

#logo{
	width: 21%; /* 165/1024 */
	float:left;
	height:100px;
	top:8px;
	padding: 7px 0 0 60px;
}

nav{
	width: 70%;	/*535/1024*/
	float:right;
	position:relative;
	height:100px;
}

nav ul{
	display: block;
    height: 100px;
}

nav ul li{
	height: 100px;
    float: left;
	position:relative;
	text-align:center;
	width: 16%;
	border-right:solid 1px #cecece;
}

header{
	/*width: 68.35%;*/
	width: 100%;
}


nav ul li.first{
	border-left:solid 1px #cecece;
}

nav ul li.last{
	border-right:none;
	width: 18.99%;
}

nav ul li a{
	background-image: none;
	overflow:hidden;
	color: #4E2E2E;
	display:block;
	padding:43px 0;
	text-align: center;
	text-decoration:none;
}

nav ul li a:hover {
	background-color: #3f3f3f;
	color: #FFF;
	color: #FFF;
	cursor:pointer;
}

.flexslider .slides{
	clear: both;
}

.slideinfo{
	background-color: #333333; 
	border-radius: 5px;
 	overflow:hidden;
	position:relative;
	display:block;
	height:40px;
	max-height: 45px;
	top: -53px;
}

header div.slideinfo span{
	color: #FFF;
	display:block;
	padding: 12px 0 12px 25px;
	font-size: 1.25em;
}



header div.flexslider ul.slides li span{
	display: none;
}


#main-content-area div ul.meals li{
	float: left;
	margin-right: 9%;
	margin-bottom: 60px;
	width: 16%;
}

#main-content-area div ul.meals li.last{
	margin-right: 0;
}

#main-content-area div ul.meals{
	height: 150px;
	padding-left: 7%;
}

#main-content-area div ul.meals li h2{
	font-size: 1.45em;
	margin-bottom: 20px;
	color: #682e2e;
	width: 130%;
	max-height:40px;
	overflow:hidden;
}

#main-content-area div ul.meals li p.learn-more{
	margin-top: 15px;
	text-align: center;
	color: #ec5054;
	font-weight:bolder;
	font-size: 100%;
}



footer{
	margin-top: 50px;
	height: 150px;
}